.dockerignore
Dockerfile*
Dockerfile.prod
visualization_proj
**/single_testdata
**/testdata
**/misc
questions.txt
**/*.ipynb
**/mbari_notes.txt
.git
.cache
visualization_proj
questions.txt
**/data
docker-compose.yml
**/.flaskenv
**/__pycache__