#tensorflow-gpu==2.2.0
#tensorflow==2.2.0
#https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-2.2.0-cp36-cp36m-manylinux2010_x86_64.whl
#bokeh==2.3.0
PySocks==1.7.1
#flask==1.1.2
#flask-wtf==0.14.3
#flask-sqlalchemy==2.5.1
#flask-migrate==2.7.0
bs4==0.0.1
#flask-login==0.5.0
#email-validator==1.1.2
#this should be deleted pyproj==3.0.1
geopy==2.1.0
python-dotenv==0.17.0
#aubio==0.4.9
#libgcc_mutex==0.1
#tflow_select==2.1.0
absl-py==0.9.0
argon2-cffi==20.1.0
astor==0.8.0
astunparse==1.6.3
async_generator==1.10
attrs==21.2.0
backcall==0.2.0
#basemap==1.2.0
#blas==1.0
bleach==3.3.0
blinker==1.4
brotlipy==0.7.0
#c-ares==1.15.0
#ca-certificates==2021.5.25
cachetools==4.1.0
certifi==2021.5.30
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
#cudatoolkit==10.1.243
#cudnn==7.6.5
#cupti==10.1.168
cycler==0.10.0
defusedxml==0.7.1
entrypoints==0.3
#firefox==83.0
#freetype==2.10.2
gast==0.3.3
#geckodriver==0.28.0
#geos==3.8.0
google-auth==1.17.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
#hdf5==1.10.6
#icu==67.1
idna==2.10
importlib_metadata==3.10.0
#intel-openmp==2020.1
ipykernel==5.3.4
ipython==7.16.1
ipython_genutils==0.2.0
jedi==0.17.0
jinja2==3.0.0
jsonschema==3.2.0
jupyter_client==6.1.12
jupyter_core==4.7.1
jupyterlab_pygments==0.1.2
#keras-applications==1.0.8
#keras-preprocessing==1.1.0
kiwisolver==1.2.0
#ld_impl_linux-64==2.33.1
#libedit==3.1.20191231
#libffi==3.3
#libgcc-ng==9.1.0
#libgfortran-ng==7.3.0
#libpng==1.6.37
#libprotobuf==3.12.3
#libsodium==1.0.18
#libstdcxx-ng==9.1.0
markdown==3.1.1
markupsafe==2.0.1
matplotlib==3.2.2
#matplotlib-base==3.2.2
mistune==0.8.4
#mkl==2019.4
#mkl-service==2.3.0
#mkl_fft==1.1.0
#mkl_random==1.1.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
#ncurses==6.2
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.18.5
#numpy-base==1.18.5
oauthlib==3.1.0
#openssl==1.1.1k
opt_einsum==3.1.0
pandas==1.0.3
#pandoc==2.12
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pip==20.1.1
#proj4==5.2.0
prometheus_client==0.10.1
prompt-toolkit==3.0.17
#protobuf==3.12.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pygments==2.9.0
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pyshp==2.1.3
pysocks==1.7.1
#python-chromedriver-binary==91.0.4472.19.0
python-dateutil==2.8.1
#python_abi==3.6
pytz==2020.1
pyyaml==5.3.1
pyzmq==20.0.0
#readline==8.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.0
#scipy==1.5.0
selenium==3.141.0
send2trash==1.5.0
setuptools==49.2.0
six==1.15.0
#sqlite==3.20.1
#tensorboard==2.2.1
#tensorboard-plugin-wit==1.6.0
#tensorflow-base==2.2.0
#tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
#tk==8.6.10
#tornado==6.0.4
#tornado==6.1
traitlets==4.3.3
typing_extensions==3.7.4.3
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
#werkzeug==1.0.1
wheel==0.34.2
wrapt==1.12.1
#xz==5.2.5
#yaml==0.2.5
#zeromq==4.3.4
#zipp==3.4.1
#zlib==1.2.11
#alembic==1.5.8
appdirs==1.4.4
#aubio==0.4.9
audioread==2.1.9
beautifulsoup4==4.9.3
#bokeh==2.3.0
bs4==0.0.1
cloudpickle==1.3.0
debugpy==1.2.1
decorator==4.4.2
dnspython==2.1.0
email-validator==1.1.2
#flask==1.1.2
#flask-login==0.5.0
#flask-migrate==2.7.0
#flask-sqlalchemy==2.5.1
#flask-wtf==0.14.3
geographiclib==1.50
geopy==2.1.0
greenlet==1.0.0
#importlib-metadata==4.0.1
itsdangerous==1.1.0
joblib==1.0.0
#librosa==0.8.0
llvmlite==0.35.0
mako==1.1.4
numba==0.52.0
numexpr==2.7.3
packaging==20.8
pillow==8.2.0
pooch==1.3.0
pyproj==2.6.1
python-dotenv==0.17.0
python-editor==1.0.4
resampy==0.2.2
#scikit-learn==0.24.1
#sklearn==0.0
#soundfile==0.10.3.post1
soupsieve==2.2.1
sqlalchemy==1.4.11
#sqlite-resources==0.2
tables==3.6.1
#tensorflow-probability==0.10.1
threadpoolctl==2.1.0
wtforms==2.3.3
gunicorn==20.1.0
psycopg2-binary==2.9.1
#resources/vs_db_maintainer/ --install-option='-e'
#resources/vs_data_query/ --install-option='-e'
#resources/sqlite_resources/ --install-option='-e'
#resources/data_types/ --install-option='-e'